@{
    var pageTilte = "24小时会议";
    ViewData["Title"] = pageTilte;
}

<div class="text-center">
    <h1 class="display-4">@pageTilte</h1>
    <p></p>
    <p> <a href="https://www.baidu.com">百度</a></p>
</div>